<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
</head>
<body>




 <section >
  <ul>
  <%@bill_amount=0%>


  <%n=0%>
       <li>


       <%@userorderitem = Order.all%>
     <%date=Date.parse $from_date%>
     <%todate=Date.parse $to_date%>
     <p>Items Ordered between  <%=date.strftime("%d/%m/%Y")%>    and   <%=todate.strftime("%d/%m/%Y")%>  are  :</p>
     <% @userorderitem.each do |item|%>

<% if item.order_time.strftime("%m/%d/%Y")  >=   date.strftime("%m/%d/%Y")%>
<% if item.order_time.strftime("%m/%d/%Y")  <=   todate.strftime("%m/%d/%Y")%>

     <%n=n+1%>
   <p><%=n%>. Item Name : <%=item.item_name%></p>
<button type="button" class="collapsible">View Order Details</button>
<div class="content">
 <%@nameduser = User.find(item.user_id)%>
 <p>Ordered by             : <%=@nameduser.first_name%></p>
 <p>Item Name              : <%=item.item_name%></p>
 <p>Item Cost( 1 Item)     : <%=item.item_cost%></p>
 <p>Quantity Ordered       : <%=item.quantity%></p>
 <p>Ordered On             : <%=item.order_time%></p>
 <p>Delivered at           : <%=item.delivered_at%></p>
 <p>Total Order Cost       : <%= item.item_cost * item.quantity%>
 <p>Status                 :
     <%if item.confirmed%>
     <%="Confirmed"%>
     <%else%>
      <p> <%="Pending"%></p>
      <%end%>
</div>

 <%@bill_amount= @bill_amount + item.item_cost * item.quantity%>
 <%end%>
     <%end%>
<%end%>
       </li>

    </ul>
    </section>




 <div class="Billdetails">
     <div class="Billamount"><p class="Outer">Total bill amount :<p class="Bill"> Rs.<%= @bill_amount%>/-</p> </p></div>
</div>




<script>
var coll = document.getElementsByClassName("collapsible");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>

</body>
</html>
>
