 <section class="TodoSection">
  <div class="TodoSectionTitle" display: flex>
    <p class="TodoSectionTitle-text"><%=section_title%></p>
    <p class="TodoSectionTitle-remainingCount">
    <%=items.count%>
    </p>
  </div>
  <ul>
    <% items.each do |item|%>
       <li class="AddItem">
                      <label class="AddItem-container">
                               <table class="tableformat">
                                       <tr>
                                             <td>
                                                  <p><%=item.item_name%></p>
                                             </td>
                                             <td>
                                                  <p>Rs.<%=item.item_cost%>/-</p>
                                             </td>
                                             <td>
                                                    <%= form_with(url: "/additems/#{item.id}",method: "delete") do %>
                                                    <input type='image'
                                                            class="Additem-delete"
                                                            src="t.png" alt="Delete"
                                                            height="20" width="20" >
                                                    <%end%>
                                             </td>
                                             <td>
                                                  <%= link_to "Update", edit_additem_path(item)%>
                                             </td>
                                      </tr>
                                </table>
                        </label>
       </li>
    <%end%>
  </ul>
  </section>
